.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(/assets/images/circle.png);
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  /* cursor: url(/image/cur.svg), pointer !important; */
}

